body {
    display: block;
    text-align: center;
    margin-top: 20%;
}

#status {
    border: 1px solid black;
    position: inherit;
    
}
button {
   border-top: 1px solid #735d29;
   background: #c4ac85;
   background: -webkit-gradient(linear, left top, left bottom, from(#6e5f32), to(#c4ac85));
   background: -webkit-linear-gradient(top, #6e5f32, #c4ac85);
   background: -moz-linear-gradient(top, #6e5f32, #c4ac85);
   background: -ms-linear-gradient(top, #6e5f32, #c4ac85);
   background: -o-linear-gradient(top, #6e5f32, #c4ac85);
   padding: 4.5px 9px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: 'Bohemian Typewriter', Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
    border: none;
   }
button:hover {
   border-top-color: #058888;
   background: #058888;
   color: #ccc;
   }
button:active {
   border-top-color: #000000;
   background: #000000;
   }