body {
    display: block;
    text-align: center;
    margin-top: 20%;
}

#status {
    border: 1px solid lightgrey;
    width: 250px;
    height: 100px;
    margin: 0 auto;
    
}

#specialBtn {
    border-radius: 25px;
}